input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
button {
	background-color: #FFFEF8;
	border: none;
}
.xmark {
    position: absolute;
    top: 20px;
    right: 20px;
}
.arrow-left {
    position: absolute;
    top: 22px;
    left: 22px;
}
.trashBtn {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 4px;
    right: 4px;
    border-radius: 2px;
    cursor: pointer;
}