input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

button {
	background-color: #FFFEF8;
	border: none;
}

#modal2 input[type="submit"]{
	background-color: #A7A7A7;
}

.filters button {
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	color: #1D6154;
	min-width: 100px;
	height: 37px;
	background-color: white;
	border-radius: 60px;
	border: 1px solid #1D6154;
}

.filters .btnAll {
	color: white;	
	background-color: #1D6154;	
}

.insert-imgBtn {
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	color: #306685;
	min-width: 173px;
	height: 37px;
	background-color: #CBD6DC;
	border-radius: 60px;
	border: 1px solid #CBD6DC;
}