.portfolio_header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2em;
}
.portfolio_header .modification{
	display: none;
	margin-left: 20px;
}
.active {
    display: flex !important;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;

}

.filters {
	margin: auto;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	width: 585px;
	margin-bottom: 30px;
}