.portfolioHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 70px;
	margin-left: 30px;
}
.portfolioHeader div{
	display: flex;
	flex-direction: row;
	margin-left: 30px;
}
.portfolioHeader p {
	margin-top: 10px;
	margin-left: 10px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;

}

.filters {
	margin: auto;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	width: 585px;
	margin-bottom: 30px;
}